In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("/home/user/leucemia/Leukemia-Cancer-Risk-ETL/data/world_bank_data.csv")
df.head()

,Country,Year,Agricultural irrigated land,Electricity production from nuclear sources,Employment in agriculture (% of total employment),Fertilizer consumption,GDP per capita (PIB),PM2.5 air pollution (mean annual exposure),Population living in slums,Poverty headcount ratio at national poverty lines,Prevalence of undernourishment,Total alcohol consumption per capita (liters of pure alcohol)
0,Afghanistan,2000,NaN,NaN,65.651597,100.000000,174.930991,64.767280,NaN,NaN,NaN,0.003
1,Afghanistan,2001,5.662125,NaN,65.025449,100.000000,138.706822,64.597573,NaN,NaN,46.0,0.003
2,Afghanistan,2002,4.617624,NaN,64.186689,104.751559,178.954088,64.416888,NaN,NaN,43.7,0.007
3,Afghanistan,2003,7.264280,NaN,63.481557,166.822535,198.871116,64.176231,NaN,NaN,38.6,0.016
4,Afghanistan,2004,5.499895,NaN,62.469948,170.466492,221.763654,63.826609,NaN,NaN,35.9,0.021

In [5]:
def Read_csv(path):
    """Read csv and give to the user a pandas Dataframe"""
    return pd.read_csv(path)

In [ ]:
def detectar_nulos(path):
    """
    Find Nulls values in a dataframe
    """
    df = pd.read_csv(path)
    return df.isnull().sum()

In [ ]:
def Nulls_